AIRFLOW_UID=50000
FERNET_KEY=replace-with-a-valid-fernet-key
AIRFLOW_JWT_SECRET=replace-with-a-long-random-secret

AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=data-lake

TRINO_HOST_PORT=8080
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=replace-with-a-long-random-secret
SUPERSET_LOAD_EXAMPLES=no
AIRFLOW_UI_PORT=8081
