# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
/.vscode/

# Virtual environments
/venv/
/.venv/
/env/

# Environment files
/.env
/.env.*
!/.env.example

# Airflow runtime data
/airflow/logs/
/airflow/data/

# Trino / Hive / metadata runtime artifacts
/trino-etc/catalog/default/
/trino-etc/catalog/hive.properties
/trino-etc/catalog/hive.properties.*

# Docker runtime volumes
/minio_data/
/superset_data/
/postgres_data/

# Local runtime artifacts
/.pytest_cache/
/.mypy_cache/
/.coverage
*.log

/nhap/